@import "../../variables/sass/variables.scss";

.vol7er-preloader {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  &__logo {
    margin-top: 20px !important;
  }
}