@import "../../variables/sass/variables.scss";

.vol7er-chip {
  color: red;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50px;
  border: solid 1px transparent;
  -webkit-transition: 0.3s; /* Safari */
  transition: 0.3s;
  color: white;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  a,
  p {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
}

.vol7er-chip:hover {
  border: solid 1px white;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 9px -6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 6px 9px -6px rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 9px -6px rgba(255, 255, 255, 1);
}

.vol7er-chip:active {
  transform: scale(0.9);
}
