@import "../../variables/sass/variables.scss";

.vol7er-tools {
  display: flex;
  padding: 2px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  width: 50px;
  left: 2px;
  top: 20vh;
  background-color: rgba($vol7er-main-dark, 0.9);
  border: solid 1px rgba($vol7er-main-light, 0.2);
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.75);

  ul {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 2px;
      margin: 2px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    li:hover {
      transition: transform 0.2s;
      background-color: rgba($vol7er-main-light, 0.8);
      .vol7er-icon {
        transform: scale(1.1);
      }
    }

    li:active {
      .vol7er-icon {
        transform: scale(1);
      }
    }
  }
  :last-child {
    margin-bottom: 0px;
  }
}
