@import "../../../../../../variables/sass/variables.scss";

.vol7er-subscription-type {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
  margin: 10px;
  background-image: url('./../../../../../../static/media/images/machines_01.png');
  color: $white;
  fill: $white;
  -webkit-box-shadow: 3px 4px 13px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 13px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 13px -4px rgba(0,0,0,0.75);
  transition: all .2s ease-in-out;
  position: relative;
  min-height: 255px;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  &__back-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
  }
  &__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__submit {
    margin: 10px;
  }
  &__price {
    color: $white;
    font-size: 48px;
  }
  &__is-selected {
    border: solid $vol7er-main-light 8px;
  }
}

.vol7er-subscription-type:hover {
  transform: scale(1.02);
}