@import '../../../variables/sass/variables.scss';

.vol7er-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px; 
  &__optLeft {
    margin-right: 10px;
  }
  &__optRight {
    margin-left: 10px;
  }
}
