.mobile-icon {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 101;
  &--clicked {
    .mobile-icon__item {
      position: absolute;
      background-color: white;
      height: calc(13%);
      border-radius: 6px;

      &:nth-child(1) {
        left: 0%;
        top: 40%;
        width: 100%;

        transform: rotate(45deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }

      &:nth-child(2) {
        top: calc(33.33% + 2px);
        left: -300px;
        width: 100%;

        -webkit-transition: left 0.25s ease-in-out;
        -moz-transition: left 0.25s ease-in-out;
        -o-transition: left 0.25s ease-in-out;
        transition: left 0.25s ease-in-out;
      }

      &:nth-child(3) {
        top: 40%;
        left: 0;
        width: 100%;

        transform: rotate(-45deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
    }
  }

  &--notClicked {
    .mobile-icon__item {
      position: absolute;
      background-color: white;
      height: calc(13%);
      border-radius: 6px;

      &:nth-child(1) {
        left: 0;
        top: 0;
        width: 100%;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }

      &:nth-child(2) {
        top: calc(33.33% + 2px);
        left: 0;
        width: 100%;

        -webkit-transition: left 0.25s ease-in-out;
        -moz-transition: left 0.25s ease-in-out;
        -o-transition: left 0.25s ease-in-out;
        transition: left 0.25s ease-in-out;
      }

      &:nth-child(3) {
        top: calc(66.66% + 4px);
        left: 0;
        width: 100%;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
    }
  }
}
