@import "../../variables/sass/variables.scss";

.vol7er-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &--scrolled {
    -webkit-box-shadow: -1px 6px 9px -7px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px 6px 9px -7px rgba(255, 255, 255, 1);
    box-shadow: -1px 6px 9px -7px rgba(255, 255, 255, 1);
  }

  &__row {
    &--logo {
      text-decoration: none;
    }

    &--top {
      animation: headerTop;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
    }

    &--scrolled {
      animation: headerScrolled;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
    }

    @keyframes headerTop {
      from {
        height: 50px;
      }

      to {
        height: 80px;
      }
    }

    @keyframes headerScrolled {
      from {
        height: 80px;
      }

      to {
        height: 50px;
      }
    }
  }

  &__icon-bars {
    position: absolute;
    color: $white;
    padding: 5px;
    height: 30px;
    width: 30px;
  }

  &--top {
    background-color: rgba(0, 0, 0, 0);
  }

  &--scrolled {
    background-color: rgba(0, 0, 0, 0.9);
  }

  &__options__menu--option {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__options-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $vol7er-main;
    z-index: 100;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0.85;

    &--visible {
      left: -600px;
      transition: 0.3s ease-in;
    }

    &--notVisible {
      left: 0;
      transition: 0.3s ease-in;
    }

    &__menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      &__item {
        font-size: 45px;
        margin: 60px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
      }

      &__item:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    img {
      margin-top: 15px;
    }

    &-whitef {
      a {
        color: $white !important;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: 650px) {
    &__icon-bars {
      display: show;
    }

    &__options {
      display: none;
    }
  }

  @media screen and (min-width: 651px) {
    &__icon-bars {
      display: none;
    }

    &__options {
      display: block;
    }

    &__options-mobile {
      display: none;
    }
  }

  @media screen and (min-width: 650px) and (max-width: 991px) {

    &__options {
      &__menu {
        justify-content: center;
      }
    }

    &--scrolled {
      padding-bottom: 10px;
    }

    @keyframes headerTop {
      from {
        height: 90px;
      }

      to {
        height: 120px;
      }
    }

    @keyframes headerScrolled {
      from {
        height: 120px;
      }

      to {
        height: 90px;
      }
    }
  }
}