$topHeight: 70px;
$topHeight2: 180px;

.vol7er-home-cover {
  padding-top: $topHeight;

  &__main-row {
    height: calc(100vh - #{$topHeight2});
  }

  @media screen and (min-width: 1045px) {
    &__main-row {
      height: calc(100vh - #{$topHeight});
    }
  }
}