@import "../../../variables/sass/variables.scss";
.vol7er-image {
  &__round {
    border-radius: 50%;
  }
  &__square {
    border-radius: 2px;
  }

  &__shadow {
    -webkit-box-shadow: 7px 13px 54px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 54px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 54px -13px rgba(0, 0, 0, 0.75);
  }

  &__flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
