@import "../../variables/sass/variables.scss";

.vol7er-page-container {
  background-color: $app-empty;
  min-height: 400px;

  &__grid {
    padding-top: 10px;
  }

  &--margin-variable {
    margin-top: 100vh;
    @media screen and (max-width: 650px) {
      margin-top: 70px;
    }
    @media screen and (min-width: 651px) and (max-width: 991px) {
      margin-top: 120px;
    }
  }
}
