@import "../../../variables/sass/variables.scss";

.vol7er-input {
  input {
    font-size: 16px !important;
  }
  &__hide-icon {
    display: none;
  }
  .input-field {
    width: 100%;
  }

  .vol7er-icon {
    width: 30px;
    height: 30px;
    ;
  }

  input:not([type]).invalid+label.active:after,
  input:not([type]).valid+label.active:after,
  input[type=text]:not(.browser-default).invalid+label.active:after,
  input[type=text]:not(.browser-default).valid+label.active:after,
  input[type=password]:not(.browser-default).invalid+label.active:after,
  input[type=password]:not(.browser-default).valid+label.active:after,
  input[type=email]:not(.browser-default).invalid+label.active:after,
  input[type=email]:not(.browser-default).valid+label.active:after,
  input[type=url]:not(.browser-default).invalid+label.active:after,
  input[type=url]:not(.browser-default).valid+label.active:after,
  input[type=time]:not(.browser-default).invalid+label.active:after,
  input[type=time]:not(.browser-default).valid+label.active:after,
  input[type=date]:not(.browser-default).invalid+label.active:after,
  input[type=date]:not(.browser-default).valid+label.active:after,
  input[type=datetime]:not(.browser-default).invalid+label.active:after,
  input[type=datetime]:not(.browser-default).valid+label.active:after,
  input[type=datetime-local]:not(.browser-default).invalid+label.active:after,
  input[type=datetime-local]:not(.browser-default).valid+label.active:after,
  input[type=tel]:not(.browser-default).invalid+label.active:after,
  input[type=tel]:not(.browser-default).valid+label.active:after,
  input[type=number]:not(.browser-default).invalid+label.active:after,
  input[type=number]:not(.browser-default).valid+label.active:after,
  input[type=search]:not(.browser-default).invalid+label.active:after,
  input[type=search]:not(.browser-default).valid+label.active:after,
  textarea.materialize-textarea.invalid+label.active:after,
  textarea.materialize-textarea.valid+label.active:after {
    min-width: 300px;
  }

  /* label focus color */
  .input-field input[type="email"]:focus+label,
  .input-field input[type="password"]:focus+label,
  .input-field input[type="text"]:focus+label,
  .materialize-textarea:focus:not([readonly])+label {
    color: $vol7er-main !important;
  }

  /* label underline focus color */
  .input-field input[type="email"]:focus,
  .input-field input[type="password"]:focus,
  .input-field input[type="text"]:focus,
  .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $vol7er-main !important;
    box-shadow: 0 1px 0 0 $vol7er-main !important;
  }

  /* valid color */
  .input-field input[type="email"].valid,
  .input-field input[type="password"].valid,
  .input-field input[type="text"].valid {
    border-bottom: 1px solid $vol7er-main;
    box-shadow: 0 1px 0 0 $vol7er-main;
  }

  /* invalid color */
  .input-field input[type="email"].invalid,
  .input-field input[type="password"].invalid,
  .input-field input[type="text"].invalid {
    border-bottom: 1px solid $error-message;
    box-shadow: 0 1px 0 0 $error-message;
  }

}